<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>imos</servlet-name>
		<servlet-class>tdm.cam.rest.imos.ReadImosProject</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>tlf</servlet-name>
		<servlet-class>tdm.cam.rest.imos.ExportImosProjectAsTlf</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>imos</servlet-name>
		<url-pattern>/imos/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>tlf</servlet-name>
		<url-pattern>/tlf/*</url-pattern>
	</servlet-mapping>

		<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>restServices.html</welcome-file>
	</welcome-file-list>

</web-app>
