.metadata
cam/bin
cam/tlf/test/*
cam/config/imosService.properties
cam/.settings
cam/.classpath
cam/.project
i2p/bin
i2p/.settings
i2p/.classpath
i2p/.project
camgui/war/camui
camgui/war/WEB-INF/deploy
camgui/gwt-unitCache
camgui/.gwt/gwt-log
camgui/bin
camrest/bin
camshared/bin
